.page-comodos {
    .form-comodos {
        .form-group {
            margin-bottom: 20px;
        }

        .middle {
            margin-top: 15px;
            margin-bottom: 35px;
        }

        .room {
            align-items: center;
            border: solid 10px #e8e8e8;
            display: flex;
            height: 100%;
            justify-content: center;
            width: 100%;
        }

        input[name='cor'] {
            width: 100%;
            max-width: 200px;
        }
    }
}
