.stepper {
    .step {
        align-items: center;
        color: #b2b2b2;
        display: flex;
        font-size: 14px;
        margin: 0 10px;

        .circle {
            align-items: center;
            border-radius: 27px;
            border: solid 1px #b2b2b2;
            display: inline-flex;
            height: 27px;
            justify-content: center;
            line-height: 27px;
            width: 27px;
        }

        .label {
            margin-left: 5px;
        }

        &.active {
            color: #707070;

            .circle {
                border: solid 1px #707070;
                background-color: #007bff;
                color: #fff;
            }

            .label {
                font-weight: bold;
            }
        }
    }

    .line {
        flex: 1 0 32px;
        min-width: 50px;
        min-height: 1px;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.15);
    }
}